@charset "utf-8";

*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
body{position: relative;}

.menu{position: fixed;
    width: 120px;
    left: 0;
    top: 0;
    bottom: 0;
    /* z-index: 20; */
    width: 120px;
    padding: 5.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdcd04;
    border-right: 1px #fff;
    overflow: hidden;
} 
scetion{position: relative;left: 120px;}
.main{width: 100%; max-width: 1782px;height: 1080px; background: #fdcd04;} 
.main .top{width: 95%;display: flex;justify-content: space-between;padding-top: 30px;margin: 0 auto;}
.main .top>p{width: 50%;}
.main .top .download{
    width: 95%;
    width: 170px;
    height: 80px;
    background: #fff; 
    display: flex;
    gap: 5px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
.main .top .download p:first-child{text-align: center;font-size: 12px;font-weight: 600;}
.main>p:nth-of-type(1){width: 1482px;height: 758px;margin: 0 auto;}
.main>p:nth-of-type(1) img{width: 100%;height: 100%; object-fit: cover;}
.main span{margin: 0 auto;}
.main>p:nth-of-type(2){text-align: center;margin: 0 auto;font-size: 26px;color: #363636;font-weight: 600;}

.btn{width: 100%;display: flex;}
.btn li{padding: 0 3% 0 10%;flex: 1 1 30%;background-size: cover;background-repeat: no-repeat;background-position: center;}
.btn li:nth-child(1){width: 100%;height: 100%;background-image: url(../images/able01.png);}
.btn li:nth-child(2){background-image: url(../images/able02.png);}
.btn li:nth-child(3){background-image: url(../images/able03.png);}
.btn li>h2{font-size: 32px;font-weight: inherit;}

.mable{width: 100%; max-width: 1782px;height: 1666.64px;margin: 0 auto;text-align: center;}
.mable .store ul{width: 1482px;height: 80px; display: flex;justify-content: center;gap: 20px;margin: 0 auto;}
.mable .store li{display: flex;background-color: #000;align-items: center;gap: 10px;width: 221.27px;justify-content: center;border-radius: 10px;}

.mable .store li>p:first-child{width: 24px;height: 24px;}
.mable .store li>p:first-child img{width: 100%;height: 100%;object-fit: cover;}
.mable .store li>p:nth-child(2){color: #fdcd04;font-weight: bold;font-size: 14px;}

.mable .mabletxt{}